# Introduction

In the following notebook I will exploring data wrangling with the use of recruits personality scores data. Applicants are required to complete a personality survey of 50 questions that form items,rated agree(1), neutral(3) or disagree(5). The five factors observed in the survey are  Extraversion,Agreeableness, Conscientiousness, Neuroticism and Openness.

Scores are saved as tuples. The first value of the tuple always indicates the subscale to which the item belongs:
1 = Extraversion, 2 = Agreeableness, 3 = Conscientiousness, 4 = Neuroticism, and 5 = Openness.
The second value in the tuple indicates the individual's scored response to that question.
Sum all of the individual's responses within a subscale (e.g. extraversion) to obtain a total subscale score.
In other words, the second number in the tuple should be scored for all columns with the same number in the first position (1 indicates extraversion, for example).

### What is Data Wrangling and why is it important?
Data wrangling involves processing the data in various formats like - merging, grouping, concatenating etc. for the purpose of analysing or getting them ready to be used with another set of data.

### How do we wrangle data?

•Discovering is a process deeply understanding data before implementing methods to clean it,I need to have a better idea about what the data is about.

•Structuring is the process of restructuring data,in this case data is given to me raw and it's not cleaned.I have to give it a better structure to make it readable.

•Cleaning in this process I clean the dataset by examining,missing values,duplicates,outliers and regular expressions then I use different mathods to deal with these.

•Enriching is a process that comes after data cleaning,in this process I have to take stock of what is in the data and strategise whether I can derive any new data from the existing clean data set that you have.

•Validating is a process of using programming steps to validate that the data is consistent, has quality and the security of the data is valid.Eg assertion can be used.

•Publishing in this process the prepared wrangled data is published so that it can be used further down the line – that is its purpose after all.

###### Importing needed modules

In [1]:
import numpy as np
import pandas as pd
import re

###### Examining the data frame for personality scores

In [2]:
perscore_df = pd.read_csv("personality_scores.csv" , delimiter = ";")
perscore_df.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

•In this process I am discovering and examing and restructuring data.

•I used delimiter = ";" in order to restructure my data.

###### Checking data summary for personality score

In [3]:
perscore_df.describe()

,ID,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
count,1555.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,777.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,449.034149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,388.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,777.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1165.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1554.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###### Checking Missing values in personality score

In [4]:
perscore_df.isnull().sum()

ID                                                           0
Section 5 of 6 [I am always prepared.]                       0
Section 5 of 6 [I am easily disturbed.]                      0
Section 5 of 6 [I am exacting (demanding) in my work.]       0
Section 5 of 6 [I am full of ideas.]                         0
                                                          ...
Unnamed: 65                                               1555
Unnamed: 66                                               1555
Unnamed: 67                                               1555
Unnamed: 68                                               1555
IPIP_HIGH_RISK                                            1555
Length: 70, dtype: int64

•There are 1555 missing values in all Unnamed : columns and in the IPIP_HIGH_RISK column.

•These columns will have to be removed since they have 100% missing values.

In [5]:
print("•The length of dataframe = ",perscore_df.shape, ",(columns and rows)")

•The length of dataframe =  (1555, 70) ,(columns and rows)

###### Checking data types

In [6]:
#checking data type columns
perscore_df.dtypes

ID                                                          int64
Section 5 of 6 [I am always prepared.]                     object
Section 5 of 6 [I am easily disturbed.]                    object
Section 5 of 6 [I am exacting (demanding) in my work.]     object
Section 5 of 6 [I am full of ideas.]                       object
                                                           ...
Unnamed: 65                                               float64
Unnamed: 66                                               float64
Unnamed: 67                                               float64
Unnamed: 68                                               float64
IPIP_HIGH_RISK                                            float64
Length: 70, dtype: object

•Only the ID column is an integer typed data.

•All item columns have object data types.

•While Unnamed: and IPIP_HIGH_RISK are floats.

###### Checking for duplicates based on ID

In [7]:
#Checking the number of unique values
perscore_unique = perscore_df["ID"].nunique()
perscore_unique

1555

•Checking for duplicates in the ID column by checking the number of unique values because if the number of unique values is equal to the number of counts then there are no duplicates.

•In this case there are 1555 unique values in the ID meaning that there are no duplicates in the ID of the dataframe.

•If the number of unique values wasn't equal to the number of counts then I'd know that there are duplicates and to find the sum of the duplicates,I'd subtract the number of unique values from the number of counts.

###### Removing duplicates in ID column

In [8]:
 new_df = perscore_df.drop_duplicates(subset 
                                      = ["ID"], keep = "first",
                                      inplace = True)

•There are no duplicates in the ID column but if there were duplicates the above method was gonna be applicable to drop duplicates.

•The above method drops duplicate by selecting ID column,it keeps the first duplicate and drops the rest while the data is modified in ID column,returning nothing but the updated Dataframe.

•This process is called data cleaning.

###### Dropping unnecessary columns

In [9]:
#Deleting the Unnamed: columns because they all have missing values

for trait in perscore_df:
    if "Unnamed:" in trait:
        del perscore_df[trait]
    elif "IPIP_HIGH_RISK" in trait:
        del perscore_df[trait]

•In the above method or function I used for loops to delete or remove the Unnamed: and IPIP_HIGH_RISK columns from the DataFrame because they had 100% missing values and removing them doesn't have a negative impact on my data.

•This method or function loops through the every trait in perscore_df dataframe and if there is unnamed in trait then it will be deleted,this also applies to IPIP_HIGH_RISK if it's in the trait.

•This process is called data cleaning.

###### Renaming my dataframe to remove regular expressions

In [10]:
perscore_df.rename(columns = lambda x: x.replace('Section 5 of 6 [', ''), inplace = True)
perscore_df.rename(columns = lambda x: x.replace('.]',''), inplace = True)
perscore_df.rename(columns = lambda x: x.replace(']',''), inplace = True)
perscore_df.head()

,ID,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,...,I often forget to put things back in their proper place,I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

•I removed regular expressions by renaming my columns to have a cleaner dataframe.

•The column names look much better without regular expressions and the (Section 5 0f 5) words.

In [11]:
new_df = perscore_df

###### Setting the ID column to be the index of the dataframe

In [12]:
per_in = new_df.set_index("ID")
per_in.head(5)

,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,I am quiet around strangers,...,I often forget to put things back in their proper place,I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
ID,,,,,,,,,,,,,,,,,,,,,
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

•Making ID column the index of the dataframe.

In [13]:
per_in.shape

(1555, 50)

•Checking the shape or length of the new dataframe that has ID as index.

###### Checking is new data frame == original dataframe and asserting new data frame with original dataframe

In [14]:
if  len(perscore_df) == len( new_df ):
    print(True)
else:
    print(False)

True

•This method or function checks if old dataframe (perscore_df) is equal to new dataframe(new_df).

•If the dataframes are equal it returns or print True but when they are not it returns or print False

In [15]:
assert len(perscore_df) == len( new_df )

•This method or function makes sure that the old dataframe is equal to the new data frame.This process is called the validation process.

###### Importing departments dataframe

In [16]:
dep_df = pd.read_csv("departments.csv", delimiter = ";")

dep_df.head()

   ID Department
0   0       Data
1   1       Data
2   2       Data
3   3       Data
4   4       Data

•In this process I am discovering and examing and restructuring data.

•I used delimiter = ";" in order to restructure my data.

###### Checking the data summary for department

In [17]:
dep_df.describe()

                ID
count  1555.000000
mean    777.000000
std     449.034149
min       0.000000
25%     388.500000
50%     777.000000
75%    1165.500000
max    1554.000000

###### Setting the ID column to be the index of the department dataframe

In [18]:
dep_ind = dep_df.set_index("ID")
dep_ind.head(5)

   Department
ID
0        Data
1        Data
2        Data
3        Data
4        Data

•Making ID column the index of the dataframe.

I have 5 major personality traits, and a number of sub-traits. Each sub-trait has a code indicating which major trait it belongs to.

For each row I have a number of columns. It looks as if each column apart from the ID column contains data for a sub-trait. The data is a 2-part tuple, where the first part is the code for the major trait, and the second part is the score for that particular sub-trait.
 So I will break down each tuple and work with it seperately.

###### Looking at the first  tuple element in the dataframe

In [19]:
# defining subscale trait and calling subscale data

def subscale(df):
    x = df.str[1]
    return x

#Creating a column to sub-traits

sub_trait = per_in.apply(subscale, axis=1)
sub_trait= sub_trait.astype(int)
sub_trait.head()

,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,I am quiet around strangers,...,I often forget to put things back in their proper place,I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
ID,,,,,,,,,,,,,,,,,,,,,
0,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4
1,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4
2,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4
3,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4
4,3,4,3,5,2,5,2,2,5,1,...,3,3,4,5,1,2,2,1,5,4

•In the above methods,I defined a function that will extract only the subscale to which items belong.

•This function is used to change the data to the subscale number,instead of writing the answer as string it comes as a integer.

•In the above dataframe we see the subscale of the personality scores,where the following values are; Extraversion(1),Agreeableness(2),Conscientiousness(3),Neuroticism(4) and Openness(5).

###### Looking at the second tuple element in the data frame

In [20]:
#defining major trait and calling major trait data
def major_t(df):
    x = df.str[4]
    return x

#Creating major trait data frame to view individual traits/scores
major_trait = per_in.apply(major_t, axis = 1)
major_trait = major_trait.astype(int)
major_trait.head()

,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,I am quiet around strangers,...,I often forget to put things back in their proper place,I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
ID,,,,,,,,,,,,,,,,,,,,,
0,5,5,5,5,3,3,3,5,5,3,...,5,5,3,5,3,5,5,3,1,3
1,5,5,5,5,5,3,5,5,5,3,...,5,1,1,5,5,5,5,5,3,3
2,5,3,3,5,5,5,5,5,5,1,...,5,5,1,3,3,5,5,3,1,3
3,5,5,3,5,5,3,3,3,3,3,...,1,5,1,5,5,5,5,5,1,1
4,3,5,3,3,3,3,3,3,5,1,...,5,5,5,5,3,3,5,3,1,3

•In the above methods,I defined a function that will extract only the subscale to which items and their ratings.

•This function changes the data to the user's answer,the answer appears as an integer not a string por object

•The above dataframe shows only the subscale of the ratings of the items,where 1=Disagree, 3=Neutral and 5=Agree.

###### Finding the sum of each subscale

In [21]:
#Creating a list and a data frame for subscale scores/traits
traits = ["Extraversion","Agreeableness","Conscientiousness",
          "Neuroticism","Openness"]
subscores = pd.DataFrame()

#Defining a function that calculates the sum of each sub-trait
def sum_subscale(sub, value):
    x = int(sub[1])
    y = int(sub[4]) 
    if (value == "Extraversion") and (x == 1):
        return y
    elif (value == "Agreeableness") and (x == 2):
        return y
    elif (value == "Conscientiousness") and (x == 3):
        return y
    elif (value == "Neuroticism") and (x == 4):
        return y
    elif (value == "Openness") and (x == 5):
        return y
    else:
        return 0

•First I created a list that has personality score and named it traits this will be used when creating a new data frame.

•Then I created an empty data frame for subscales and called it subscore,this dataframe will later be used when calculating total scores.

•Then I defined a function that calculates the sum of each sub-trait and return each sub-trait number as an integer.



###### Calculation total score

In [22]:
from functools import reduce
import operator

def subs_total(df, trait):
    person = []
    for a in range(len(df)):
        person.append(trait)
    subtot = list(map(sum_subscale, df, person))
    total = reduce(operator.add, subtot)
    return total

•Above is a function that calculates the total scores of each sub-trait. 

•This function returns the total of each subscale.

###### Creating dataframe for subscales

In [23]:
for b in traits:
    indiv = []
    for a in range(len(per_in)):
        indiv.append(b)
    subscores[b] = list(map(subs_total, per_in.values, indiv))

In [24]:
subscores.head()

   Extraversion  Agreeableness  Conscientiousness  Neuroticism  Openness
0            30             40                 48           36        42
1            42             46                 46           40        42
2            28             40                 40           38        42
3            30             38                 38           40        38
4            28             34                 46           38        36

•The above for loop creates a data from the results that were obtained above.

•This data is then taken and put inside the subscores dataframe.

•The above data frames shows each sub-trait totals in a dataframe form.

###### Creating a new concatenated dataframe

In [25]:
per_dep = pd.concat([dep_ind, new_df, subscores], axis = 1)
per_depi = per_dep.set_index("ID")
per_depi.head()

,Department,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,...,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things,Extraversion,Agreeableness,Conscientiousness,Neuroticism,Openness
ID,,,,,,,,,,,,,,,,,,,,,
0,Data,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42
1,Data,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42
2,Data,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42
3,Data,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38
4,Data,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36

•The dataframe created above is the dataframe showing new_df,dep_index and subscores joined together to form one data frame.

•The ID column was set to be the index column again because after concatenating it wasn't the index anymore.

##### Checking whether the number of rows in department dataframe == number of rows in merged dataframe

In [26]:
if  len(dep_ind) == len( per_dep):
    print(True)
else:
    print(False)

True

• Checking if department dataframe is equal to concatenated dataframe.

•If dataframes are equal True will be returned if not False will be printed.

###### Asserting that department dataframe == merged dataframe

In [27]:
assert len(dep_ind) == len(per_dep)

•Making sure that dataframes are equal

###### Filtering merged dataframe

In [28]:
scored = 30
filtered_df = per_depi[(per_dep.Neuroticism < scored) & (per_dep.Conscientiousness < scored) & 
                      (per_dep.Agreeableness < scored)]
filtered_df

,Department,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,...,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things,Extraversion,Agreeableness,Conscientiousness,Neuroticism,Openness
ID,,,,,,,,,,,,,,,,,,,,,
881,Data,"(3, 3)","(4, 1)","(3, 1)","(5, 5)","(2, 1)","(5, 3)","(2, 5)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 3)","(1, 5)","(5, 1)","(4, 1)",30,28,26,28,36
1197,Copywriting,"(3, 5)","(4, 5)","(3, 1)","(5, 1)","(2, 1)","(5, 3)","(2, 5)","(2, 1)","(5, 1)",...,"(2, 5)","(2, 1)","(1, 3)","(5, 5)","(4, 1)",40,22,26,26,28

•In the above function I am filtering the concatenated dataframe to get the departments who scored less than 30 on emotional stability, conscientiousness AND agreeableness.

###### Printing the ID numbers and departments of these applicants

In [29]:
print(filtered_df[["Department"]])

       Department
ID
881          Data
1197  Copywriting

•These are ID numbers of the departments that scored less than 30.

•This was achieved by printing the department column of filtered dataframe.

###### Assign these applicants as “high_risk” and “low_risk”

In [30]:
per_dep["Department"].value_counts()

Strategy       449
Data           329
Copywriting    326
Web Dev        170
Web dev        161
Design         120
Name: Department, dtype: int64

•From concatenated dataframe I viewed the values of each department

•It is clear that there are more counts on Strategy department and less on Design department

In [31]:
#Filtered Department data frame
filtered_df["Department"].value_counts()

Data           1
Copywriting    1
Name: Department, dtype: int64

In [32]:

per_depi["Risk"] = np.where(
    (per_depi.Neuroticism < scored) & \
    (per_depi.Conscientiousness < scored) & (per_depi.Agreeableness < scored), 'High risk', 'Low risk'
)

•From the concat dataframe I am creating or adding new columns that calculate the number of counts as high risk and low risk in each department.

•The above function creates a new data frame that shows department that scored less than 30 as high risk and those that score more as low risk.

•THis only applies for Neuroticism,Conscientiousness and Agreeableness

###### Creating a high and low risk column

In [33]:
# Creating a new column
risk_df = per_depi[['Department', 'Risk']].groupby(['Department', 'Risk']).size()
pd.DataFrame(risk_df)

                         0
Department  Risk
Copywriting High risk    1
            Low risk   325
Data        High risk    1
            Low risk   328
Design      Low risk   120
Strategy    Low risk   449
Web Dev     Low risk   170
Web dev     Low risk   161

•This is a dataframe that shows departments and risks nd the number of counts

# Conclusion

Our data is ready to be published or used because all the data wrangling steps were taken.Our data was : •Discovered
                     •Restructured
                     •Cleaned
                     •Enriched
                     •Validated